:root {
    --cuv-white: #ffffff;
    --cuv-black: #000000;

    /* light */
    --cuv-light-background: #f6f3f3;
    --cuv-light-background-hover: #ecebeb;
    --cuv-light-background-focus: #f6f3f3;
    --cuv-light-border: #f6f3f3;
    --cuv-light-text: #808080;
    --cuv-light-outline: #808080;
    --cuv-light-outline-hover: #636262;
    --cuv-light-outline-focus: #808080;

    /* dark */
    --cuv-dark-background: #1d324f;
    --cuv-dark-background-hover: #090c10;
    --cuv-dark-background-focus: #1f2937;
    --cuv-dark-border: #1f2937;
    --cuv-dark-text: #1f2937;
    --cuv-dark-outline: #1f2937;
    --cuv-dark-outline-hover: #090c10;
    --cuv-dark-outline-focus: #1f2937;

    /* primary */
    --cuv-primary-background: #9333ea;
    --cuv-primary-background-hover: #7627c1;
    --cuv-primary-background-focus: #9333ea;
    --cuv-primary-border: #9333ea;
    --cuv-primary-text: #9333ea;
    --cuv-primary-outline: #9333ea;
    --cuv-primary-outline-hover: #7627c1;
    --cuv-primary-outline-focus: #9333ea;

    /* link */
    --cuv-link-background: #2563eb;
    --cuv-link-background-hover: #1e51be;
    --cuv-link-background-focus: #2563eb;
    --cuv-link-border: #2563eb;
    --cuv-link-text: #2563eb;
    --cuv-link-outline: #2563eb;
    --cuv-link-outline-hover: #1e51be;
    --cuv-link-outline-focus: #2563eb;

    /* success */
    --cuv-success-background: #10b981;
    --cuv-success-background-hover: #028e5f;
    --cuv-success-background-focus: #10b981;
    --cuv-success-border: #10b981;
    --cuv-success-text: #10b981;
    --cuv-success-outline: #10b981;
    --cuv-success-outline-hover: #028e5f;
    --cuv-success-outline-focus: #10b981;

    /* danger */
    --cuv-danger-background: #e11d48;
    --cuv-danger-background-hover: #c1173c;
    --cuv-danger-background-focus: #e11d48;
    --cuv-danger-border: #e11d48;
    --cuv-danger-text: #e11d48;
    --cuv-danger-outline: #e11d48;
    --cuv-danger-outline-hover: #c1173c;
    --cuv-danger-outline-focus: #c1173c;

    /* warning */
    --cuv-warning-background: #facc15;
    --cuv-warning-background-hover: #f0c000;
    --cuv-warning-background-focus: #facc15;
    --cuv-warning-border: #facc15;
    --cuv-warning-text: #facc15;
    --cuv-warning-outline: #facc15;
    --cuv-warning-outline-hover: #f0c000;
    --cuv-warning-outline-focus: #facc15;
    
    /* info */
    --cuv-info-background: #0ea5e9;
    --cuv-info-background-hover: #0c94d3;
    --cuv-info-background-focus: #0ea5e9;
    --cuv-info-border: #0ea5e9;
    --cuv-info-text: #0ea5e9;
    --cuv-info-outline: #0ea5e9;
    --cuv-info-outline-hover: #0c94d3;
    --cuv-info-outline-focus: #0ea5e9;
}